template(name="addQuestion")
	.container
		.ui.two.column.grid.addmargintop
			.row
				.column.resetwidth4
					.ui.raised.segment
						.ui.blue.ribbon.label 我要提问
						form.addmargintop2(role="form", action="/addquestion", method="post")
							div.form-group.col-md-8.resetwidth4
								label 题目
								input#title.form-control(name="questionTitle" placeholder="大学城哪有...",required)
							div.form-group.col-md-8.resetwidth4
								label 描述
								textarea.form-control(rows="3" name="questionContent" placeholder="大学城哪有...",required)
							div.form-group.button-group.col-md-12.resetwidth4
								label.col-md-12 问题分类
								button.bts.button.sort(id="clothEat" type="button" value="clothEat") 衣食
								button.bts.button.sort(id="liveWalk" type="button" value="liveWalk") 住行
								button.bts.button.sort(id="study" type="button" value="study") 学习
								button.bts.button.sort(id="other" type="button" value="other") 其他
							div.form-group.col-md-2.resetwidth4
								label.pull-right score
									select.form-control(name="questionReward",required)
										option 0
										option 10
										option 20
										option 50
										option 100
							div.form-group.col-md-12
								input.pull-right.btn.btn-warning(type="submit", value="Submit")

