template(name="addQuestion")
	.container
		.row-md-3
			h1.pHead 添加你想问的问题
		.row-md-9
			form(role="form", action="/addquestion", method="post")
				div.form-group.col-md-8
					label Title
					input.block.form-control(name="questionTitle" placeholder="大学城哪有...",required)
				div.form-group.col-md-8
					label Question
					textarea.block.form-control(rows="3" name="questionContent" placeholder="大学城哪有...",required)
				div.form-group.col-md-12
					label.sTitle.col-md-12 问题分类
					label.radio-inline
						input(type="radio" name="questionCategory" value="eatCloth")
						| 衣食
					label.radio-inline
						input(type="radio" name="questionCategory" value="liveWalk")
						| 住行
					label.radio-inline
						input(type="radio" name="questionCategory" value="study")
						| 学习
					label.radio-inline
						input(type="radio" name="questionCategory" value="other", checked)
						| 其他
				div.score.form-group.col-md-2.col-md-offset-7
					label 悬赏分
						select.form-control(name="questionReward",required)
							option 0
							option 10
							option 20
							option 50
							option 100
				div.form-group.col-md-2.col-md-offset-7
					input.bt.btn.btn-default(type="submit", value="Submit")
