/* CSS declarations go here */
/* Author: Btotals */
/* Date: Sun May 24 2015 12:08:07 GMT+0800 (CST) */

#logo-brand {
	margin-left: 18vw;	/* 用于定位logo */
}

#login-module {
	margin-top: 2vh;
	width: 370px;
}

#register-module {
	margin-top: 2vh;
	width: 370px;
}

a:hover {
	text-decoration: none;
}

.shift-down-5vh {
	margin-top: 5vh;
}

.shift-down-1vh {
	margin-top: 1vh;
}

.shift-left-1vw {
	margin-left: 1vw;
}

