template(name="layout")
	nav.navbar.navbar-default(role='navigation')
		.navbar-header
			a.navbar-brand(href='#')
			img(src='images/small.jpg' height="45" width="70")
		.search
			form.navbar-form.navbar-left(role='search')
				.form-group
					input.form-control(type='text', placeholder='Search')
					button.btn.btn-default(type='submit') 搜索
		.four-classes
			ul.nav.navbar-nav
				li.active
					a(href='#') 衣食
				li
					a(href='#') 住行
				li
					a(href='#') 学习
				li
					a(href='#') 其它
	.container
		.row
			.col-md-10
				ul#myTab.nav.nav-tabs
					li.active
						a(href='#solve', data-toggle='tab')
							| 已解决
					li
						a(href='#answer', data-toggle='tab') 待解决
				#myTabContent.tab-content
					#solve.tab-pane.fade.in.active
						+title
						+question
						+question
						+question
						+question
						+question
					#answer.tab-pane.fade
						+title
						+question
						+question
						+question
						+question
						+question

			.col-md-3.col-md-offset-4
				+page

template(name="title")
	.row.shift-down-1vh
		.col-md-7
			h5.text-left 标题
		.col-md-3
			h5.text-center 回答数
		.col-md-2
			h5.text-center 发布时间

template(name="question")
	.row.shift-down-1vh
		.col-md-7
			a(href="/") 大学城哪里可以吃到山西小米
		.col-md-3
			h5.text-center 4
		.col-md-2
			h5.text-center 2015-5-30

template(name="page")
	ul.pagination.center
		li
			a(href='#') «
		li.active
			a(href='#') 1
		li
			a(href='#') 2
		li
			a(href='#') 3
		li
			a(href='#') 4
		li
			a(href='#') 5
		li
			a(href='#') »
