template(name='login')
	.container
		.row
			.col-md-4.col-md-offset-2
				img(src='images/logo.png')
			.col-md-4
				h1.text-center.login-title 登录
				form.form-signin#login-module(action='/login', method='POST')
					input(type='text', name='email' class='form-control', id='email', placeholder='Email', required, autofocus)
					input(type='password', name='password' class='form-control', id='password', placeholder='Password', required)
					.row.shift-down-5vh
						.col-md-6
							button(class='btn btn-lg btn-primary btn-block SignIn') 登录
						.col-md-6
							a(href="/register")
								button(class='btn btn-lg btn-warning btn-block Register') 去注册！
					span.clearfix

